<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Request</title>
</head>
<body>
    <div style="width:700px; margin:0 auto;border:1px solid #ccc;padding:10px;">
        <div style="background-color: #cccccc;padding:10px;">
            <h1>Mathilde-ads</h1>
        </div>
        <div>
            <h1>RECIBISTE UNA NUEVA CAMPAÑA</h1>
            <p>{{advertiser}} ha enviado una campaña para la <strong>creación del flow</strong> de implementación.</p>
            <p>A continuación podrás <strong>revisar la solicitud</strong>, completar la información faltante y <strong>generar el flow</strong>.</p>
        </div>
        <div style="padding:10px;text-align: center">
            <a style="background-color: #cccccc;padding: 10px;border-radius: 10px;text-decoration: none;color: #000000" href="#">
                Revisar Solicitud
            </a>
        </div>
        <div style="background-color: #cccccc;padding:10px;text-align:center;margin-top:50px;">
            This email is a notification from Mathilde-ads
        </div>
    </div>
</body>
</html>